<h3>Form002</h3>

<input type="text" />

<!--Para que pueda funcionar debe de ir un modelo,
    en este caso será un ER
    pero por mientras no se puede ejecutar porque da un error-->

<!--
<EditForm Model="">
    <InputText />
</EditForm>
-->

@code {

}
